

.navbar {
    padding: 1rem;
    margin: 2rem;
    background-color: #f5f6f7 ;
}


.nav-item{

    padding: 15px;
    font: 17px Tahoma, sans-serif;
}

.container-fluid{
    background-color: #ececec;
}
.container {
    width: 90%;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



#result {
    margin-top: 20px;
    font-size: 16px;
    white-space: pre-wrap; /* Preserva los espacios y saltos de línea en el texto */
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    max-width: 80%;
    margin: 0 auto;
    overflow-x: auto; /* Permite el desplazamiento horizontal si el contenido es demasiado ancho */
}

table  {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
    max-width: 1000px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}


th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0; /* Color de fondo cuando el ratón pasa sobre la fila */
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}

.pendientes {
    border-color: red ;
}

.eventos {
    border-color: red solid;
}

.accordion-body {
    margin-top: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Columna izquierda es el doble de ancha que la derecha */
    gap: 10px; /* Espacio entre columnas */
}
.box {
    height: 100px;
}

.buttom{
    padding: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 40px;
}

#declinarButton{
color: #000;
}
.encabezado-pendientes , .encabezado-eventos, .encabezado-ultimoMemo{

    display: grid;
    grid-template-columns: 2fr 1fr; /* Columna izquierda es el doble de ancha que la derecha */
    gap: 10px; /* Espacio entre columnas */
    padding: 10px; 
    margin-bottom: 10px;
}
#solicitudes-table {
    display: none;
}
#respuestas-table {
    display: none;
}
#eventos-table {
    display: none;
}

.encabezado-lista-solicitudes {
    margin-top: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Columna izquierda es el doble de ancha que la derecha */
    gap: 10px; /* Espacio entre columnas */
}
.encabezado-lista-respuestas {
    margin-top: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Columna izquierda es el doble de ancha que la derecha */
    gap: 10px; /* Espacio entre columnas */
}
.encabezado-lista-eventos {
    margin-top: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Columna izquierda es el doble de ancha que la derecha */
    gap: 10px; /* Espacio entre columnas */
}
.encabezado-tabla-dinamica {
    margin-top: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; /* Columna izquierda es el doble de ancha que la derecha */
    gap: 10px; /* Espacio entre columnas */
}


.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}



/*Jumbotron de bootstrap*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
#tableHeaders {
    background-color: #007bff;
}