<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error 403 - Acceso denegado</title>

  <!-- Enlazar el CSS de Bootstrap desde un CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJ6H6A2+7x8r+X7TkFLHTdEqeWg7+LAXuPUC2hsEd2dZtR2fLhRlgjz6f7Vh1" crossorigin="anonymous">

  <!-- Puedes añadir tu propio CSS si es necesario -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-light">



<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="text-center p-5 bg-white rounded shadow-lg">
    <!-- Imagen de error -->
    <img src="/img/acceso-denegado.png" alt="Error 403" class="img-fluid mb-3" style="display: block; margin: 0 auto; max-width: 300px;">
  </div>

  <!-- Contenedor para el enlace centrado en la parte inferior -->
  <div class="w-100 d-flex justify-content-center position-fixed bottom-0 p-3">
    <a href="/welcome" class="btn btn-primary">Volver...</a>
  </div>
</div>







<!-- Enlazar los scripts de Bootstrap desde un CDN -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybGzYh5TpoK3ynX1g0s0QyKnf6Jr8poB+3D94D0sf2k7tF7r3x" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0+4pi6aOm1bWkeHHco9Le12/AtmBfZZJgD82ggH7vI+7h+cj" crossorigin="anonymous"></script>

</body>
</html>
