<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación Frontend</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container">
    <button id="fetchButton1">Obtener Respuestas</button>
    <button id="fetchButton2">Obtener Solicitudes</button>
    <div id="result"></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped table-bordered table-hover">
                   
                </table>
            </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/app.js"></script>
</body>
</html>
