<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depto | Servicios Generales</title>
    <link rel="icon" type="image/x-icon" href="/static/imagenes/icono-agenda.png">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#"><img src="/static/imagenes/icono-agenda.png">
                </a>
                <ul class="navbar-nav d-flex justify-content-center align-item-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Memos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Eventos</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!-- Resumen -->
    <section class="hero container-fluid">
        <div class="row mt-3 1">
            <div class="col-md-7 ">
                <div class="p-3 bg-danger text-dark pendientes">Columna 1
                    <h2>Solicitudes Pendientes</h2>
                    <div class="accordion" id="accordionExample">
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div id="fetchButton2"></div>
                               <div id="fetchButton1"></div>
                            </div>
                            <button id="responderButton">Responder Solicitud</button>
                            <button id="declinarButton">Rechazar Solicitud</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-5 justify-content-center align-item-center">
                <div class="p-3 bg-warning text-dark eventos">Columna 2
                    <h2 class="justify-content-center align-item-center ">Eventos</h2>
                    <button class="agendarButton " id="fetchButtonAgendar">agendar</button>
                    <table id="registros-table">
                        <thead>
                            <tr>
                                
                                <th>Descripción</th>
                                <th>Fecha</th>
                                <th>Establecimiento</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los registros se llenarán aquí -->
                        </tbody>
                    </table>
                  
                    
                    
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-7">
                <div class="p-3 bg-danger text-white">Proyectos</div>
            </div>
            <div class="col-md-5">
                <div class="p-3 bg-warning text-dark">Ultimo Memo</div>
<div id="ultimo-memo">

</div>
<div id="ultimo-memo-info">

</div>
            </div>
    </section>

    <!-- Memos -->
   
    <section>
        <div class="container-fluid">
            <div class="mt-3 p-3 bg-primary text-white">
                <h2>Lista de Solicitudes</h2>
                        TABLA CON LISTADO 
            </div>
            <table id="solicitudes-table">
                <thead>
                    <tr>
                        
                        <th>Descripción</th>
                        <th>emisor_id</th>
                        <th>Fecha</th>
                        <th>numero_solicitud</th>
                        <th>providencia_id</th>
                        <th>estado</th>
                        <th>titulo</th>   
                        <th>Descripción</th>
                        <th>comentario</th>
                        <th>fecha_solicitud</th>   
                        <th>fecha_ingreso_solicitud</th>
                        <th>fecha_declinacion</th>
                        

                        descripcion

descripcion
: 
"Descripción de la solicitud de cancelación."
emisor
: 
"Jardín Infantil A"
estado
: 
"recibido"
fechaIngresoDepartamento
: 
"10/08/2024"
fechaSolicitud
: 
"10/08/2024"
id
: 
10
numeroSolicitud
: 
1010
titulo
: 
"Solicitud de Cancelación"
                 
                    </tr>
                </thead>
                <tbody>
                    <!-- Los registros se llenarán aquí -->
                </tbody>
            </table>
        </div>    
    </section>

    <!-- Proyectos -->
    <section>
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="p-3 bg-warning text-white">detalles</div>
                </div>
                <div class="col-md-8">
                    <div class="p-3 bg-secondary text-white">barra progreso</div>
                </div>
            </div>
        </div>    
    </section>

    <!-- Eventos -->
    <section>
        <div class="container-fluid">
            <div class="mt-3 p-3 bg-danger text-white">
                <h2>Lista de Eventos</h2>
                        TABLA CON LISTADO 
            </div>
        </div>    
    </section>

    <!-- Javascript -->
    <script src="/static/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>