<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>

<h1>Welcome, <span th:text="${username}">User</span>!</h1>
<p>You have successfully logged in.</p>
<a class="navbar-brand" href="#" onclick="">
    <!-- <img src="/static/img/logo.png" class="img-fluid" style="max-width: 50px; height: auto;" alt="Logo"> -->
    <img th:src="@{/img/logo.png}" alt="Log" type="image/x-icon" rel="icon" class="img-fluid" style="max-width: 50px; height: auto;">
</a>
<a href="/home">DOCUMENTACION</a>
<!-- Enlace para cerrar sesión -->
<a href="#" onclick="document.getElementById('logoutForm').submit();">Cerrar sesión</a>
<!-- Formulario oculto para enviar la solicitud POST para el logout -->
<form id="logoutForm" action="/logout" method="POST" style="display: none;">
    <!-- El formulario estará oculto y no será visible al usuario -->
</form>
</body>
</html>
